* {
    margin: 0;
    padding: 0;
  }
  /*header section start*/
  .navbar {
    background-color: #fcd34d;
  }
  .navbar-brand {
    color: rgb(12, 12, 12);
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .icon-bar {
    background-color: black;
  }
  .some-text {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 600;
  }
  a.btn {
    margin-top: 30px;
    border-radius: 20px;
    background-color: #fcd34d;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  #small-container {
    width: auto;
    height: 40vh;
    background-color: #fcd34d;
  }
  .some-info {
    margin-top: 50px;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
  }
  #google-play-store {
    height: 50px;
    width: 170px;
    margin-top: 15px;
  }
  #app-store {
    height: 50px;
    width: 170px;
    margin-top: 15px;
  }
  .some-info-text {
    margin-top: 110px;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .fa-camera {
    margin-top: 100px;
    font-size: 25px;
  }
  .camera {
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .display {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  .processor {
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .battery {
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .fa-mobile-alt,
  .fa-microchip,
  .fa-battery-full {
    font-size: 25px;
  }
  .fa-microchip {
    margin-top: 100px;
  }
  .fa-mobile-alt {
    margin-top: 30px;
  }
  .fa-battery-full {
    margin-top: 50px;
  }
  #iphone-7 {
    height: 500px;
    width: 250px;
    margin-bottom: 20px;
  }
  #row {
    height: 15vh;
    background-color: #fcd34d;
  }
  .social-network {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  .fa-twitter,
  .fa-facebook,
  .fa-youtube {
    margin-left: 15px;
    font-size: 30px;
    letter-spacing: 20px;
    border-radius: 100%;
  }
  .fa-twitter {
    color: #1da1f2;
  }
  .fa-facebook {
    color: #4267b2;
  }
  .fa-youtube {
    color: #ff0000;
  }
  .footer {
    background-color: rgb(31, 30, 30);
    height: 15vh;
    color: #626264;
    font-size: 16px;
  }
  .footer-text {
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  .privacy,
  .terms,
  .faq {
    font-size: 16px;
    color: #626264;
    text-decoration: underline;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  